.table-info th {
    color: white; 
    font-size: large; 
    font-weight: bold; 
    min-width: 150px; 
    word-wrap: break-word;
  }
  
  .table-info td {
    color: #999999;
  }
  
  .table-info {
    border-collapse: collapse; 
    background-color: transparent;
  }
  
  .table-info th, .table-info td {
    padding: 1%; 
  }
  
  .presentation h1{
    margin-bottom: 5%;
    color: white; 
    font-size: xxx-large
  }
  