.contact div .btn-primary{
    background-color: #ffc107;
    color: black;
}
.contact div .btn-secondary{
    border: 3px solid white ;
    color: white;
}
.contact div .btn{
    margin-top:5% ;
    margin-bottom:5% ;
}

.progress-title{
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin: 0 0 10px;
}
.progress-value{
    color: black;
    font-weight: bold;
}
.progress{
    height: 30px;
    background: #fff;
    border-top: 5px solid #1c2647;
    border-bottom: 5px solid #1c2647;
    border-radius: 0;
    margin-bottom: 25px;
    overflow: visible;
    position: relative;
}
.progress:before,
.progress:after{
    content: "";
    width: 5px;
    background: #1c2647;
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
}
.progress:after{
    left: auto;
    right: -5px;
}
.progress .progress-bar{
    border: none;
    box-shadow: none;
    -webkit-animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
    animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}

.card-skill{
    animation: rotateIn 0.6s ease-in-out forwards; 
    background-color: rgba(128, 128, 128, 0.348);
    padding: 3%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(224, 224, 224, 0.437);
  }

@keyframes rotateIn {
    0% {
      transform: rotateY(-180deg);
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: rotateY(0);
      opacity: 1;
    }
  }
   
.contact h1{
    color: white;
    font-size: xxx-large;
}
