<div class="container">
    <div class="row align-items-center"> 
        <div class="col-12 col-md-6 animated-text">
            <p class="text-wrap">
                <span class="saut">Hello !</span>
                <span class="clair large saut">Je suis <span class="accent">Ahmadou NDIAYE</span>, </span>
                <span class="medium saut">un passionné de Data Engineering, prêt à développer des applications qui rendent la technologie accessible et utile pour tous.</span>
            </p>
            <div class="row text-center justify-content-center">
                <div class="col-12 col-md-6">
                    <a href="#contact" class="btn first w-100">Contactez-moi</a>
                </div>
                <div class="col-12 col-md-6">
                    <a href="#projects" class="btn second w-100">Quelques Projets</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 text-center">
            <img src="assets/icon/developpement.png" alt="moi" class="img-fluid rounded shadow itsMe mx-auto d-block">
        </div>        
    </div>
</div>
